@import "../../assets/stylesheets/_variaveis";

#block-top-heroes {
  position: relative;

  &.page-limiter {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .titulo-secao {
    text-align: left;
    color: white;
    font-size: 28px;
  }
}
