@import "../../assets/stylesheets/_variaveis";

#newsletter {
  background: black;
  display: flex;
  justify-content: space-around;

  .block-chamada {
    background: #ed1b24;
    color: white;
    font-size: 62px;
    font-weight: bold;
    width: 100%;
    max-width: 410px;
    line-height: 75px;
    text-align: left;
    padding: 60px;
    transform: translateY(-110px);
  }

  .block-cadastro {

    p {
      color: $color-font-primary;
      text-align: left;
      width: 50%;
      font-weight: bold;
      margin: 50px 0;

      span{
        color: $color-primary;
      }
    }

    .form {
      display: flex;
      flex-wrap: wrap;

      label {
        color: $color-font-primary;
        width: 100%;
        font-size: 13px;
        text-align: left;
        padding: 5px 0;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
      }

      .input {
        color: black;
        font-size: 12px;
        flex: 4;
      }

      .button {
        padding: 20px 30px;
      }
    }
  }
}

@media (max-width: $big){
  #newsletter {

    .block-chamada {
      font-size: 52px;
      max-width: 350px;
      line-height: 70px;
    }

    .block-cadastro {
      max-width: 400px;

      p {
        margin: 42px 0;
      }

      .form {

        .input {
          flex: auto;
          width: 60%;
        }

        .button {
          width: 40%;
        }
      }
    }
  }
}

@media (max-width: $large){
  #newsletter {

    .block-chamada {
      font-size: 38px;
      max-width: 300px;
      line-height: 55px;
      transform: translateY(-60px);
    }

    .block-cadastro {
      max-width: 300px;

      p{
        width: 100%;
        margin: 45px 0;
      }

      .form {

        .input {
          flex: auto;
          width: 60%;
        }

        .button {
          width: 40%;
        }
      }
    }
  }
}

@media (max-width: $medium){
  #newsletter {
    flex-wrap: wrap;

    .block-chamada {
      width: 100%;
      max-width: 75vw;
    }

    .block-cadastro {
      max-width: initial;
      padding-bottom: 50px;
    }
  }
}

@media (max-width: $small){

}
