nav {
  display: flex;
  background: black;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  img {
    width: 140px;
  }

  ul {
    display: flex;

    li {
      color: white;
      line-height: 70px;
      margin-right: 20px;
      font-size: 14px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
