@import "../../assets/stylesheets/_variaveis";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  img {
    width: 140px;
  }

  ul {
    display: flex;

    li {
      font-family: 'Open Sans', sans-serif;
      color: $color-font-primary;
      line-height: 70px;
      margin-right: 20px;
      font-size: 14px;
      font-weight: bold;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
