@import "./_variaveis";

.button {
  font-family: 'Open Sans', sans-serif;
  display: block;
  text-align: center;
  padding: 20px 90px;
  background-color: $color-primary;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;

  &.link{
    background: transparent;
    color: $color-primary;
    padding: 0;
  }
}
