@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "./_variaveis";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 !important;
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background-color-site;
}

button, input, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input:focus,
input:active,
input:visited,
button:focus,
button:active,
button:visited,
select:focus,
select:active,
select:visited {
  border: 0;
}
