/* Tamanho do wrapper para o site */
$limiter-site: 1200px;

/* Cor do fundo do site */
$background-color-site: black;
$background-color-rodape: #222222;

/* Cores primárias */
$color-primary: #ED1B24;
$color-font-primary: white;

/* breakpoints */
$big: 1100px;
$large: 860px;
$medium: 768px;
$small: 480px;
