@import "./_variaveis";
@import "./_buttons";
@import "./_input";
@import "./_reset";

#root {
  overflow: hidden;

  .page-limiter {
    width: 100%;
    max-width: $limiter-site;
    margin: auto;
  }

  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 62px;

    &.small {
      font-size: 20px;
      color: #9B9B9B;
    }
  }
}

@media (max-width: $big){
  #root {

    .page-limiter {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

@media (max-width: $large){
  #root {

    h1 {
      font-size: 75px;
    }

    h2 {
      font-size: 50px;

      &.small {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: $medium){
  #root {

    h1 {
      font-size: 62px;
    }
  }
}

@media (max-width: $small){
  #root {

    h1 {
      font-size: 46px;
    }
  }
}
