@import "../../assets/stylesheets/_variaveis";

#block-banner {
  position: relative;
  padding-bottom: 75px;

  img {
    width: 100%;
  }

  .titulo {
    text-align: left;
    font-size: 100px;
    color: $color-font-primary;
    position: absolute;
    bottom: 0;
    max-width: 418px;
    margin: 0;
    line-height: 1.4;
  }
}
