@import "../../assets/stylesheets/_variaveis";

#block-banner {
  position: relative;
  padding-bottom: 75px;

  .block-image {
    position: relative;

    &::before {
      @include black-opacity;
    }

    img {
      width: 100%;
    }
  }

  .titulo {
    text-align: left;
    color: $color-font-primary;
    position: absolute;
    bottom: 0;
    max-width: 418px;
    margin: 0;
    line-height: 1.4;
  }
}

@media (max-width: $big){

}

@media (max-width: $large){
  #block-banner {
    padding-bottom: 50px;
  }
}

@media (max-width: $medium){
  #block-banner {
    padding-bottom: 30px;
  }
}

@media (max-width: $small){
  #block-banner {

    .titulo {
      max-width: 70vw;
    }
  }
}
